<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @client.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @client.date %>
</p>

<p>
  <strong>Content:</strong>
  <%= @client.content %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
